@media only screen and (min-width: 490px) {
    
    .me {
        gap: 4rem;
    }

    .linksSocial {
    }

    .introMe {
        padding: 5vh 15vw;
      }


    
    .skillsPage {
        padding: 2vh 10%;
    }

    .projTab {
        padding: 1vh 1vw;
    }


    .projLayout {
        padding: 2vh 0vw;
    }


   
}