@font-face {
    font-family: SCP-bold;
    src: url('/fonts/static/SourceCodePro-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: SCP-light;
    src: url('/fonts/static/SourceCodePro-Light.ttf') format('truetype');
  }

@font-face {
    font-family: SCP-regular;
    src: url('/fonts/static/SourceCodePro-Regular.ttf') format('truetype');
  }
  

  