@font-face {
    font-family: fbold;
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: flight;
    src: url('/fonts/SourceCodePro-Light.ttf') format('truetype');
  }

@font-face {
    font-family: fregular;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  }


  

  