    .navbar-text:hover {
        letter-spacing: 5px;
        transition: var(--transition-duration);
    }
    
    .navbar-links a:hover {
        color: #ed6f3f;
        transform: scale(1.1);
        transition: var(--transition-duration);
    }
    


    .projTab:hover {
        background-color: #32312e;
        transform: scale(1.1);
        /* transition: var(--transition-duration); */
    }

    .projLinks a:hover{
        transform: scale(1.1);
    }

    .divCv:hover {
        letter-spacing: 5px;
        transition: 0.5s;
    }