* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background-color: #181716;
  }


  


  #navbar {
    padding: 20px;

    background-color: #181716;
    position: fixed;
    top: -1px;
    width: 100%;
  }




  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #ccc5b9;
  }
  
  /* Left side text */
  .navbar-text {
    font-weight: bold;
    font-family: SCP-boldItalic;

    transition: var(--transition-duration);


  }
  
  /* Right side anchor tags */
  .navbar-links a {
    margin-left: 10px;
    text-decoration: none;
    color: #ccc5b9;
    font-size: 1rem;

    font-family: SCP-Italic;

    transition: var(--transition-duration);

    animation: fadeIn 3s ease-in-out 0s normal both;

  }

  #userIcon {
  border: none;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

#Icon {
  border: none;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

#biggerIcon {
  border: none;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

#smallerIcon {
  border: none;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

#smallestIcon {
  border: none;
  height: 10px;
  width: 10px;
  vertical-align: middle;
}







  #me {
    padding: 0 0 1px 0;
  }


  .me {
    display: flex;
    flex-direction: column;
    margin: 100px 10px 0px 10px;
    padding: 10px 0;
    align-items: center;
    gap: 5px;

    
  }

  .me img {
    border: #ed6f3f solid 1px;
    border-radius: 100%;
    height: 180px;
    width: 180px;
  }



  .meText h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: SCP-Bold;
    letter-spacing: 2px;
    padding: 0px 0 5px 0;

  }

  .meText h2 {
    font-size: 1rem;
    font-family: SCP-BoldItalic;
    letter-spacing: 1px;
  }

  .linkCv {
    margin: 20px auto 80px auto;
    display: block;
    text-align: center;
  }

  .linkCv a{
    padding: 12px;
    text-decoration: none;
    font-family: SCP-Regular;
    font-size: 1rem;

    transition: var(--transition-duration);
  }

  .meText h1, .meText h2 {
    color: #ccc5b9;
  }

  .meText {
    padding: 10px 0;
    text-align: left;
  }



  .about {
    padding: 0px 20px 0px 20px;
    margin: 0px;
    text-align: right;
  }

  .about h3 {
    font-size: 1.3rem;
    font-family: SCP-Medium;
    letter-spacing: 2px;
  }

  .about p {
    text-align: end;
    margin: 5px;
    font-size: 1rem;
    font-family: SCP-Italic;
    letter-spacing: 1px;
  }

  .about h3, .about p {
    color: #ccc5b9;
  }


  .skillsPage {
    margin: 100px 0 10px 0;

  }

  .skillsPage h3 {
    margin: 0 0 20px 10px;
    font-size: 1.2rem;
    color: #ccc5b9;
    
    font-family: SCP-Medium;
    letter-spacing: 1px;
  }

  .skillsTab {
    border: #ed6f3f solid 1px;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 20px 10px 20px;
    padding: 15px;
  }


  .skillsTitle {
    font-size: 1.1rem;
    color: #ccc5b9;

    font-family: SCP-BoldItalic;
    letter-spacing: 1px;
  }

  .skillsLayout {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0px;
    margin: 5px 0px 5px 0px;
    padding: 0px;
  }
  .skillsBox {
    margin: 10px 0;
    text-align: center;
    padding: 10px;
  }

  .skillsBox img{
    height: 45px;
    width: 45px;
  }

  .skillsBox p {
    color: #ccc5b9;
    font-size: 14px;

    font-family: SCP-Bold;
  }

  .projPage {
    margin: 0px 10px 20px;
  }

  .thirdPage {
    padding: 0 0 80px 0;
  }

  .projPage h3 {
    font-size: 1.2rem;
    color: #ccc5b9;

    font-family: SCP-Medium;
    letter-spacing: 1px;
  }

  .projTab {
    margin: 20px 10px;
    padding: 10px;
    justify-content: center;
    

    /* width: 400px;
    height: 300px; */

    border: solid #ed6f3f 1px;

    transition: var(--transition-duration);

  }

  .projTitle{
    justify-content: center;
    text-align: center;

  }


  .projTitle img {
    border: #ed6f3f solid 1px;
    height: 150px;
    width: 280px;
  }
  
  .projTitle h5 {
    color: #ccc5b9;
    font-size: 1rem;

    font-family: SCP-BoldItalic;
    letter-spacing: 1px;
  }

  .projTitle p {
    color: #ccc5b9;
    font-size: 0.8rem;

    font-family: SCP-Medium;
    letter-spacing: 1px;
  }

  .projText {
    padding: 5px 0;

  }

  .projLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
  }

  .projLinks a {
    text-decoration: none;
    color: #ccc5b9;

    font-family: SCP-Bold;
    letter-spacing: 1px;
    font-size: 0.8rem;

    transition: var(--transition-duration);

  }


  .fifthPage {
    margin: 50px 10px 20px;

    border-top: #ed6f3f solid 1px;
  }

  .qouteText {
    font-style: italic;
  }

  .fifthPage p {
    margin: 10px;
    color: #ccc5b9;
    text-align: center;
    font-size: 0.8rem;

    font-family: SCP-Regular;
    letter-spacing: 1px;
  }





  