/* FIRSTPAGE */
  .me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 18vh 5vw 0 5vw;
    padding: 0 0 10vh 0;
    gap: 1rem;
  }

  .me img {
    border: #ed6f3f solid 1px;
    border-radius: 5%;
    height: auto;
    width: clamp(180px, 25%, 25%);
    max-width: 100%;
  }
  
  .meText h1 {
    font-size: clamp(1.6rem, 3.5vw, 3.5rem);
    text-transform: uppercase;
    font-family: SCP-Bold;
    letter-spacing: 2px;
    padding: 2vh 0 0 0;
  }

  .meText h2 {
    font-size: clamp(1rem, 1.4vw, 2rem);
    font-family: SCP-Light;
    font-style: italic;
    letter-spacing: 1px;
    padding: 1vh 0 0 0;
  }

  .linksSocial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

/* BRIDGEPAGE */

.introMe {
  padding: 5vh 5vw;
}

.introMe h6 {
  font-size: clamp(1.2rem, 2vw, 3rem);
  letter-spacing: 1px;
}

.introMe p {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-style: italic;
}

.introMe h6, p {
  padding: 0vh 5vw 2vh 5vw;
  font-family: SCP-regular;
  text-align: right;
}

/* SECONDPAGE */
.skillsPage {
  padding: 4vh 0;
}
  .skillsPage h3 {
    padding: 0vh 3vw 3vh 3vw;
    font-size: clamp(1.4rem, 1.6vw, 2rem);
    font-family: SCP-bold;
    letter-spacing: 1px;
  }

  .skillsTab {
    border: #ed6f3f solid 1px;
    display: flex;
    flex-flow: column nowrap;
    margin: 1vh 5vh;
  }


  .skillsTitle {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: 1vh 5vw;
    font-family: SCP-Bold;
    font-style: italic;
    letter-spacing: 1px;
  }

  .skillsLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .skillsBox {
    padding: 2vh 1vw;
  }

  .skillsBox img{
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
  }

  .skillsBox p {
    font-size: clamp(14px, 1vw, 1rem);
    font-family: SCP-regular;
    
  }

/* THIRDPAGE */

.thirdPage {
  padding: 4vh 0;
}

  .projPage h3 {
    padding: 0vh 3vw 3vh 3vw;
    font-size: clamp(1.4rem, 2vw, 4rem);
    font-family: SCP-bold;
    letter-spacing: 1px;
  }

  .projLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .projTab {
    margin: 2vh 1vmin;
    padding: 2vh 0vw;
    justify-content: center;
    border: solid #ed6f3f 1px;
    transition: var(--transition-duration);
    height: auto;
    width: 300px;

  }

  .projTitle{
    justify-content: center;
    text-align: center;

  }

  .projTitle img {
    border: #ed6f3f solid 1px;
    height: 150px;
    width: 280px;
  }

  .projText {
    padding: 2vh 0;
    text-align: center;
    justify-content: center;
  }

  .projText h5, p {
    text-align: center;
  }

  .projText h5 {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-family: SCP-bold;
    letter-spacing: 1px;
  }

  .projText p {
    font-style: italic;
    font-family: SCP-regular;
  }

  .projLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .projLinks a {
    text-decoration: none;

    font-family: SCP-semiBold;
    letter-spacing: 1px;
    font-size: 0.8rem;

    transition: var(--transition-duration);

  }

/* SECBRIDGEPAGE */

  .linkText {
    font-family: SCP-extraBold;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
  }

  .linkCv {
    padding: 4vh 0 2vh 0;
    text-align: center;
  }

  .divCv {
    text-decoration: none;
    font-family: SCP-regular;
    font-style: italic;
    font-size: clamp(1rem, 1.5vw, 2rem);
    transition: 0.3s;
  }

/* FOURTHPAGE */
  .fourthPage {

  }

  .qouteText {
    font-style: italic;
  }

  .lastPage p {
    text-align: center;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);

    font-family: SCP-Regular;
    letter-spacing: 1px;
  }
