* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}


body {
  -webkit-tap-highlight-color: transparent;

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;


}


:root {
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
}

.custom-shape-divider-top-1702188849 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1702188849 svg {
  position: relative;
  display: block;
  width: calc(196% + 1.3px);
  height: 169px;
  transform: rotateY(180deg);
}


.custom-shape-divider-top-1702188849 .shape-fill {
  fill: #ED6F3F;
}


/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1702188849 svg {
      width: calc(130% + 1.3px);
      height: 133px;
  }
}



.custom-shape-divider-top-1702185533 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 0.7;
}

.custom-shape-divider-top-1702185533 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 197px;
}

.custom-shape-divider-top-1702185533 .shape-fill {
  fill: #ED6F3F;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1702185533 svg {
      width: calc(105% + 1.3px);
      height: 110px;
  }
}










.color2F {
  color: #ed6f3f;
}

img {
  pointer-events: none;
}

a {
  display: inline-block;
  text-decoration: none;

}

#icoSize {
  height: auto;
  width: 35px;
  border: none;
  
  
}

.linkSoc {
  margin: 2vh 2vw;
  transition: 0.5s;
  transform: rotate(45deg);
  display: inline-block;

}

.firstPage {
  height: 99vh;
  width: 100%;
  padding: 2vh 0;
}

.secondPage, .bridgePage, .thirdPage, .secBridgePage{
  height: auto;
  width: 100%;
  padding: 2vh 0;
}



.bridgePage {
  border: #ed6f3f 4px dashed;
  border-left: 0;
  border-right: 0;
  animation: dashed-border 2s infinite;
}


.secondPage {
  border: #ed6f3f 4px dashed;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.secBridgePage{
  border: #ed6f3f 4px dashed;
  border-left: 0;
  border-right: 0;
}

.fourthPage {
  height: auto;
  width: 100%;
  padding: 2vh 0;
}

.firstPage, .secondPage, .thirdPage, .fourthPage {
  background-color: #181716;
}

.bridgePage, .secBridgePage{
  background-color: #000000;
}

.wFont {
  color: #ccc5b9;
}

.bigLetter {
  font-size: 1.5em;
}


#icoSocialSvg {
  height: auto;
  width: clamp(35px, 0%, 40px);
}

#pngIcon {
  height: auto;
  width: 30px;
  vertical-align: middle;
}

#userIcon {
  border: none;
  height: auto;
  width: 100%;
  vertical-align: middle;
}

#smallestIcon {
  border: none;
  height: 10px;
  width: 10px;
  vertical-align: middle;
}


.linkSoc:hover {
  transform: rotate(0deg);
  transform: scale(1.4);
  transition: 0.5s;
}

.projLinks a:hover{
  transform: scale(1.1);
}

.hoverLetter:hover {
  background-color: #ed6f3f;
}

.divCv:hover {
  letter-spacing: 5px;
  transition: 0.5s;
}
