

.svgD1-2s {
	animation-delay: 1.2s;
}

.svgD1-8s {
	animation-delay: 1.8s;
}


.d1-5s {
	animation-delay: 1.5s;
}

.d1-8s {
	animation-delay: 1.8s;
}

.d2-2s {
	animation-delay: 2.2s;
}

.d2-4s {
	animation-delay: 2.4s;
}

.d2-6s {
	animation-delay: 2.6s;
}

.animLeftToRight {
	animation: example;
	animation-delay: 2s;
  }
  
  @keyframes example {
	0%,
	100% {
	  left: 0;
	}
  
	50% {
	  left: 200px;
	}
  }

  @keyframes blur-in {
	from {
	  backdrop-filter: blur(0px);
	}
	to {
	  backdrop-filter: blur(2px);
	}
  }