@media only screen and (min-width: 1367px) {
  .me img {
    height: 300px;
    width: 350px;
  }

  .secBridgePage {
    padding: 10vh 0 !important;
  }
}



@media (min-width: 320px)  and (max-width: 1366px) {

  .me {
    margin: 22vh 5vh;
  }


  .me h1 {
    font-size: 1.2rem;
font-size: clamp(1.2rem, 0.9575757575757575rem + 1.2121212121212124vw, 2rem);

  }

  .me h2 {
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7393939393939395rem + 0.303030303030303vw, 1rem);
  }


  #icoSize {
    width: 40px !important;
  }

  .introMe h6 {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 1.1090909090909091rem + 0.4545454545454546vw, 1.5rem);
  }

  .introMe p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.9393939393939394rem + 0.303030303030303vw, 1.2rem);
  }



  .skillsPage h3 {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 1.1090909090909091rem + 0.4545454545454546vw, 1.5rem);
  }

  .skillsTitle h4 {
    font-size: 1.1rem;
    font-size: clamp(1.1rem, 1.0393939393939395rem + 0.303030303030303vw, 1.3rem);
  }

  .skillsBox p {
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7696969696969698rem + 0.1515151515151515vw, 0.9rem);
  }

  .projPage h3 {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 1.1090909090909091rem + 0.4545454545454546vw, 1.5rem);
  }

  .projText h5 {
    font-size: 1.1rem;
    font-size: clamp(1.1rem, 1.0393939393939395rem + 0.303030303030303vw, 1.3rem);
  }

  .projPage p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.9696969696969697rem + 0.15151515151515166vw, 1.1rem);
  }

  .projLinks a {
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.8696969696969697rem + 0.1515151515151515vw, 1rem);
  }



  .linkText h5 {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1.1090909090909091rem + 0.4545454545454546vw, 1.5rem);
  }

  .divCv {
    font-size: 1rem;
    font-size: clamp(1rem, 0.9696969696969697rem + 0.15151515151515166vw, 1.1rem);
  }

  .lastPage p {
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7393939393939395rem + 0.303030303030303vw, 1rem);
  }

}


@media (min-width: 491px) and (max-width: 900px) {


}

@media only screen and (max-width: 490px) {

  .me img {
      width: 200px;
      height:180px;
    }

    #icoSize {
      width: 35px !important;
    }

    .projLayout {
      flex-flow: wrap-reverse;
    }

    .bannerOutCont {
      margin: 5vh 0;
    }


}