* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    -webkit-tap-highlight-color: transparent;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    scroll-behavior: smooth;

}


.color2F {
    color: #ed6f3f;
  }
  

img {
    pointer-events: none;
}


.wFont {
    color: #ccc5b9;
}


#pngIcon {
    height: auto;
    width: 80px;
    vertical-align: middle;
  }


.d1-5s {
    animation-delay: 1.5s;
}
  


